.container-modal {
    padding: 16px 4px;
    display: flex;
    flex-direction: column;

    img {
        align-self: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-bottom: 16px;
    }
}